<div class="container">
  <div class="exam-instruction">
    <div class="instruction-header">
      <h2>General Instructions</h2>
    </div>
    <div class="instruction-content">
      <p>1. Access the exam platform using provided credentials with a stable internet connection and supported web
        browser.</p>
      <p>2. Note the exam duration, pace yourself accordingly.</p>
      <p>3. Avoid unauthorized aids, communication, or cheating.</p>
      <p>4. Submit answers before the timer ends. Confirm submission and save answers properly.</p>
      <p>5. In case if timer ends, the answers would be automatically submitted.</p>
      <p>6. Prepare your workspace and device, and eliminate distractions for optimal performance.</p>
    </div>
    <div class="agree-button">
      <a class="btn btn-primary" (click)="agree()">I Agree</a>
    </div>
  </div>
</div>