<div #examContainer class="container">
    <div class="button-container">
        <!-- Exam Name centered -->
        <h1 style="text-align: center;"> {{exams.exam_name}} </h1>
        <!-- Number of Questions and Timer -->
        <div style="display: flex; justify-content: space-between;">
            <h5>No. of Questions: {{exams.numberOfQuestions}}</h5>
            <!-- Timer -->
            <h5>Time: <span id="timer">{{exams.duration}}:00</span></h5>
        </div>
        <!-- Maximum Marks -->
        <h5 style="text-align: right;">Maximum Marks: {{exams.maximumMarks}}</h5>
    </div>

    <!-- Display fetched questions and options -->
    <ng-container *ngFor="let question of questions; let i = index">
        <div id="question_{{ i }}" class="question-container">
            <h3>Question {{ i + 1 }} Description</h3>
            <textarea class="form-control readonly" rows="4" readonly> {{question.description}} </textarea>
            <div style="margin-top: 20px;"></div>

            <h3>Answers for Question {{ i + 1 }}</h3>
            <div class="form-group" *ngFor="let option of question.options; let j = index">
                <input type="radio" name="answer{{ i }}" [value]="j" [(ngModel)]="question.AnswerIndex">
                <span> {{getOptionLetter(j)}} </span>
                <input type="text" class="form-control readonly" value="{{ option.text }}" readonly>
            </div>
        </div>
    </ng-container>

    <div id="timeoutPopup" [hidden]="!timeoutPopupVisible"
        style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; padding: 20px; border: 1px solid #ccc; box-shadow: 0 2px 5px rgba(0,0,0,0.2); z-index: 100;">
        <h2>Time's Up!</h2>
        <p>Your exam time has expired. Your exam will now be submitted.</p>
        <button class="btn btn-primary" (click)="hideTimeoutPopup()">OK</button>
    </div>

    <div id="timeremainingPopup" [hidden]="!timeremainingPopupVisible"
        style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; padding: 20px; border: 1px solid #ccc; box-shadow: 0 2px 5px rgba(0,0,0,0.2); z-index: 100;">
        <h2>Exam Submission!</h2>
        <p>Exam Successfully Completed.</p>
        <button class="btn btn-primary" (click)="hideTimeRemainingPopup()">OK</button>
    </div>

    <!-- Submit Button -->
    <div style="text-align: center; margin-top: 20px;">
        <button class="btn btn-primary" (click)="submitExam()">Submit</button>
    </div>
</div>