<div class="login-container">
  <div class="left-half">
    <!-- Left Half with Image -->
    <img src="assets/images/login-image.jpg" alt="Login Image">
  </div>
  <div class="right-half">
    <form>
      <!-- Right Half with Login Form -->
      <div class="login-form">
        <h2>Welcome back!</h2>
        <p>Login to continue</p>
        <div class="form-group">
          <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control"
            placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control"
            placeholder="Password">
        </div>
        <button (click)="login()" class="btn btn-primary btn-block">Login</button>
        <div class="forgot-password">
          <a [routerLink]="'/forgot-password'">Forgot Password?</a>
        </div>
        <asl-google-signin-button type="standard" size="large" shape="pill"
          class="google-button"></asl-google-signin-button>
        <div class="register-link">
          <p>New here? <a href="#">Click here to register</a></p>
        </div>
      </div>
    </form>
  </div>
</div>