<div class="tf-work-section">
  <div class="container" id="work">
    <h2 class="h3">Our Success Stories</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 pt-2">
        <div class="card"><img class="img-fluid card-img-top" src="/assets/images/2-start-simple.jpg" alt="2-start-simple"/>
          <div class="card-body">
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipiscing elit interdum sagittis, nisi ac aptent vitae est facilisi.</p><a class="card-link" href="#">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 pt-2">
        <div class="card"><img class="img-fluid card-img-top" src="/assets/images/3-start-simple.jpg" alt="3-start-simple"/>
          <div class="card-body">
            <p class="text-muted">Porttitor varius auctor litora congue sociosqu montes eleifend facilisi elementum convallis, diam et nullam sem.</p><a class="card-link" href="#">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 pt-2">
        <div class="card"><img class="img-fluid card-img-top" src="/assets/images/4-start-simple.jpg" alt="4-start-simple"/>
          <div class="card-body">
            <p class="text-muted">Commodo convallis varius egestas purus rhoncus cras morbi dignissim, ligula vestibulum ultrices urna semper.</p><a class="card-link" href="#">Learn More</a>
          </div>
        </div>
      </div>
    </div>