/* CSS to style the multi-page form */

/* Center the form vertically on the page */
.registration-container {
  width: 100%;
  max-width: 800px; 
    margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container{
  bottom: 3vh;
  height: 83vh;
  position: relative;
}

/* Add this CSS to style the City and State fields on the same line */
.form-group-half {
  width: calc(50% - 10px); /* Adjust width based on your design */
  display: inline-block;
  margin-right: 10px;
}

/* Style the form header */
.registration-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Style the section titles */
.registration-container h3 {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
}

/* Style form groups and labels */
.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-option {
  margin-right: 20px;
}

/* Style form inputs */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
.small-dropdown {
  padding: 5px 10px; 
  font-size: 12px; 
  width: 120px; 
}

button[type="submit"],
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  float: right;
}

/* Style the previous button to be on the left */
.previous-button {
  float: left;
}

/* Style the next button to be on the right */
.next-button {
  float: right;
}

/* Hover styles for buttons */
button[type="submit"]:hover,
button:hover {
  background-color: #0056b3;
}


.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
/* Add this style to change the submit button color to green */
.btn-primary[type="submit"] {
  background-color: green;
  color: white;
  float: right;
}