<div class="exam-container">
  <h1>Create new Exam</h1>
  <h2>Enter Exam Information</h2>

  <div class="form-group">
    <label for="examName">Name:</label>
    <input type="text" id="examName" [(ngModel)]="examName" required>
  </div>

  <div class="form-group">
    <label for="duration">Duration:</label>
    <select id="duration" [(ngModel)]="durationType" (change)="durationTypeChanged()" required>
      <option value="" disabled selected>Select an option</option>
      <option value="Hours">Hours</option>
      <option value="Minutes">Minutes</option>
    </select>
  </div>

  <div *ngIf="durationType === 'Hours'">
    <div class="form-group">
      <label for="hourDuration">Select Duration:</label>
      <select id="hourDuration" [(ngModel)]="hourDuration">
        <option value="" disabled selected>Select an option</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
  </div>

  <div *ngIf="durationType === 'Minutes'">
    <div class="form-group">
      <label for="minuteDuration">Select Duration:</label>
      <select id="minuteDuration" [(ngModel)]="minuteDuration">
        <option value="" disabled selected>Select an option</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="45">45</option>
        <!-- Add more options if needed -->
        <option value="custom">Custom</option>
      </select>
    </div>
    <div *ngIf="minuteDuration === 'custom'">
      <div class="form-group">
        <label for="customMinuteDuration">Custom Duration (Minutes):</label>
        <input type="number" id="customMinuteDuration" [(ngModel)]="customMinuteDuration" min="10" max="240" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="negativeMarking">Negative Marking:</label>
    <select id="negativeMarking" [(ngModel)]="negativeMarking" required>
      <option value="" disabled selected>Select an option</option>
      <option value="25% of that question">25% of that question</option>
      <option value="50% of that question">50% of that question</option>
      <option value="75% of that question">75% of that question</option>
      <option value="100% of that question">100% of that question</option>
      <option value="false">No</option>
    </select>
  </div>

  <div class="form-group">
    <button type="button" class="submit-btn" (click)="submitForm()">Submit</button>
  </div>
</div>
