<header class="top-header">
    <div class="notification-icon">
        <i class="fas fa-bell"></i>
            <div class="notification-bubble" *ngIf="notificationCount > 0">{{ notificationCount }}</div>
                <div class="notification-box" *ngIf="showNotificationBox">
                    <div class="notification-item" *ngFor="let notification of notifications">
                        {{ notification }}
                    </div>
                </div>
            </div>
    <div class="user-profile" *ngIf="userData">
        <span class="user-name">{{ userData?.username | capitalize }}</span>
        <div class="dropdown">
            <button class="dropbtn">User Menu</button>
            <div class="dropdown-content">
                <a (click)="onSelect('profile')">Profile</a>
                <a *ngIf="userData.type === 'normal'" (click)="onSelect('change_password')">Change Password</a>
                <a href="javascript:void(0);" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</header>