.header h1 {
    font-size: 28px;
    margin-bottom: 20px;
}
a:hover{
    cursor: pointer;
}
.top-header {
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.notification-icon {
    margin-right: 20px; 
    font-size: 24px;
    position: relative;
    cursor: pointer;
}
.user-profile {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.user-name {
    margin-right: 10px;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #f4f4f4;
    color: #333;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f4f4f4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.notification-bubble {
    background-color: red; 
    color: white; 
    border-radius: 50%; 
    padding: 2px 6px; 
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%,-50%);
    font-size: 14px;  
}

.notification-box {
    position: fixed;
    top: 66px;
    right: 5px;
    width: 300px;
    height: calc(100vh - 60px); /* Adjust based on header height */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow-y: auto; /* Add a scrollbar if the content exceeds the height */
    display: none;
  }
  
  .notification-box.active {
    display: block;
    padding: 4px 8px 0px 8px;
  }
  
  .notification-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    color: #787878;
    text-align: center;
  }

  .mark-as-read-button {
    margin-top: 10px;
    padding: 2px;
    background-color: #ffffff1a;
    color: #4410f4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
  }
  
  .mark-as-read-button i {
    margin-right: 3px;
  }