<div class="job-widget">
  <div class="header">
    <div class="job-title">Software Engineer</div>
    <div class="company">Tata Consultancy Service</div>
    <div class="details">
      <div class="experience">
        <i class="icon fas fa-briefcase"></i> 0-1 years
      </div>
      <div class="salary">
        <i class="icon fas fa-money-bill"></i> 1-5 Lacs PA
      </div>
      <div class="location">
        <i class="icon fas fa-map-marker-alt"></i> Kochi
      </div>
    </div>
  </div>
  <div class="description">Technical skills</div>
  <div class="deadline">
    <i class="icon fas fa-calendar"></i> Application Deadline: 20 Nov 2023
  </div>
</div>
