<aside class="sidebar">
        <div class="logo">
            <img src="../../assets/images/logo.png" alt="Company Logo">
        </div>
        <div class="nav-container">
                <div class="nav-item">
                      <i class="fa fa-eye"></i>
                    <a (click)="onSelect('view_user')">View Users</a>
                </div>
                <div class="nav-item">
                    <i class="fas fa-chart-bar"></i>
                    <a href="#">Analytics</a>
                </div>
                <div class="nav-item">
                    <i class="fas fa-file-alt"></i>
                    <a href="#">Reports</a>
                </div>
                <div class="nav-item">
                    <i class="fas fa-cog"></i>
                    <a href="#">Settings</a>
                </div>