.widget-container {
  margin: 30px 70px 0px 330px;
  overflow: hidden; /* Prevent .widget-container from being scrollable */
  background-color: #95959e;
  padding: 20px;
  border-radius: 8px;
  position: relative; /* Ensure relative positioning for children */
  }
  
  .job-widget-container {
    margin-top: 13px; /* Adjust based on the height of the button */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow-y: auto; /* Allow the job-widget to scroll within this container */
    max-height: calc(100vh - 140px); /* Adjust based on the height of the button and margin-top */
  }
  
  .job-widget {
    position: relative;
    border: 2px solid #3498db;
    background-color: #ecf0f1;
    padding: 20px;
    width: 1015px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  .header {
    margin-bottom: 20px;
  }
  .job-title {
    font-weight: bold;
    font-size: 24px;
    color: #2c3e50;
  }
  .company {
    color: #3498db;
    font-size: 18px;
    margin-top: 10px;
  }
  .details {
    display: flex;
    justify-content: space-between;
  }
  .experience,
  .salary,
  .location {
    flex: 1;
    text-align: center;
    margin: 10px;
  }
  .icon {
    margin-right: 5px;
  }
  .description {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #555;
    font-size: 16px;
  }
  .deadline {
    color: #888;
    font-size: 14px;
  }

  .deadline-container {
    display: flex;
    justify-content: space-between;
  }
  
  .post-status{
    font-size: 13px;
  }
  
  .post-label{
    color: #7e7e7e;
    font-weight: 600;
  }
  
  .applied{
    color: #c5df00;
  }

  .shortlisted{
    color: #34d305;
  }
  
  .rejected{
    color: #fd1e1e;
  }
  
  .top-right-button {
    position: absolute;  /* Position absolute within the widget-container */
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #3734db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .top-right-button:hover {
    background-color: #2980b9;
  }
  
  .edit-button,
  .delete-button,
  .apply-button,
  .save-button,
  .unsave-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .edit-button {
    color: #3498db;
  }
  
  .apply-button{
   color: #3498db;
  }
  
  .save-button{
    color: #55db34;
   }

   .unsave-button{
    color: #ed4040;
   }
  
  .delete-button {
    color: #e74c3c;
  }
  .edit-button:hover,
  .delete-button:hover,
  .apply-button,
  .save-button,
  .unsave-button {
    background-color: #f2f2f2;
  }
  
  .toggle-buttons {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    cursor: pointer;
  }
  
  .toggle-buttons i {
    font-size: 20px; /* Adjust the font size as needed */
    color: #333; /* Adjust the color as needed */
  }
  
  .popup-buttons {
    position: absolute;
    top: -2px;
    right: 10px; /* Align with the right edge of the toggle button */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
  }
  
  .popup-buttons button {
    display: block;
    width: 100%;
    padding: 14px;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    border-bottom: 1px solid #ccc; /* Add a border between buttons */
  }
  
  /* Style for the last button in the popup */
  .popup-buttons button:last-child {
    border-bottom: none; /* Remove border for the last button */
  }
  
  /* Show popup buttons when areButtonsVisible is true */
  .popup-buttons.show {
    display: block;
  }

  .soft-skills {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .soft-skills-label {
    font-weight: bold;
    color: #3498db; /* Adjust the color as needed */
  }
  
  .soft-skills-list {
    display: flex;
    align-items: center;
  }
  
  .soft-skills ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .soft-skills li {
    background-color: #3498db; /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px; /* Adjust the left margin as needed */
  }

  .search-bar {
    margin-top: 12px;
  }
  
  .search-bar input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .filter-select-box {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }
  
  .filter-select-box select {
    padding: 8px;
    font-size: 14px;
    width: 187px;
    border: 1px solid #fff;
    border-radius: 23px;
  }
  
  .apply-filters-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .apply-filters-button:hover {
    background-color: #45a049;
  }
  
  .refresh-button {
    background-color: #40cf2f; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text color */
    padding: 10px 20px; /* Add padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as inline-block to not take full width */
    font-size: 16px; /* Set font size */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 4px; /* Add border radius */
  }
  
  .refresh-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }