<html>
<head>
    <link rel="stylesheet" type="text/css" href="dashboard.component.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <app-header-dashboard (featureSelected)="onNavigate($event)"></app-header-dashboard>
    <app-sidebar (featureSelected)="onNavigate($event)"></app-sidebar>
    <app-main-content *ngIf="selectedFeature === 'dashboard'"></app-main-content>
    <app-user-list *ngIf="selectedFeature === 'view_user'"></app-user-list>
    <app-job-post-widget (featureSelected)="onNavigate($event)"
        *ngIf="selectedFeature === 'job-post-widget'"></app-job-post-widget>
    <app-job-post (featureSelected)="onNavigate($event)" *ngIf="selectedFeature === 'job-post'"></app-job-post>
    <app-apply-job-list (featureSelected)="onNavigate($event)"
        *ngIf="selectedFeature === 'apply-job-list'"></app-apply-job-list>
    <app-save-job-list (featureSelected)="onNavigate($event)"
        *ngIf="selectedFeature === 'save-job-list'"></app-save-job-list>
    <app-applicants-list (featureSelected)="onNavigate($event)"
        *ngIf="selectedFeature === 'applicants-list'"></app-applicants-list>
    <app-register-employee (featureSelected)="onNavigate($event)"
        *ngIf="selectedFeature === 'register-employee'"></app-register-employee>
    <app-change-password *ngIf="selectedFeature === 'change_password'"></app-change-password>
    <app-exam-form (featureSelected)="onNavigate($event)"
        *ngIf="selectedFeature === 'app-exam-form'"></app-exam-form>
    <app-exam-table (featureSelected)="onNavigate($event)"
        *ngIf="selectedFeature === 'app-exam-table'"></app-exam-table>
    <app-exam-question *ngIf="selectedFeature === 'exam_question'"></app-exam-question>
</body>
</html>