<html>
<head>
    <link rel="stylesheet" type="text/css" href="dashboard.component.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <app-header-dashboard (featureSelected)="onNavigate($event)"></app-header-dashboard>
    <app-sidebar (featureSelected)="onNavigate($event)"></app-sidebar>
    <app-main-content *ngIf="selectedFeature === 'dashboard'"></app-main-content>
    <app-user-list *ngIf="selectedFeature === 'view_user'"></app-user-list>
    <app-job-post-widget (featureSelected)="onNavigate($event)"
        *ngIf="selectedFeature === 'job-post-widget'"></app-job-post-widget>
    <app-job-post (featureSelected)="onNavigate($event)" *ngIf="selectedFeature === 'job-post'"></app-job-post>
    <app-change-password *ngIf="selectedFeature === 'change_password'"></app-change-password>
</body>
</html>