<div class="container">
    <div *ngIf="ViewOtp !== 'view'">
        <h2>Forgot Password</h2>
        <form action="#" method="post">
            <div class="form-group">
                <label for="forgotpassword">Please enter your email address to reset your password</label>
                <input type="email" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
            </div>
            <button (click)="send_email()" type="submit">Send Email</button>
        </form>
    </div>
    <div *ngIf="ViewOtp === 'view'">
        <h2>Forgot Password</h2>
        <form action="#" method="post">
            <div class="form-group">
                <label for="enterOtp">Please enter otp send to your email id</label>
                <input type="otp" id="otp" [(ngModel)]="otp" [ngModelOptions]="{standalone: true}" required>
            </div>
            <button (click)="verify_otp()" type="submit">Verify OTP</button>
        </form>
    </div>
</div>