.tf-header-heading-btn {
  margin-left: 10px; /* Add margin to the left to create space between the text and button */
  display: inline-block; /* Make the button an inline-block element */
  vertical-align: middle; /* Align the button vertically with the text */
}
