
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "node_modules/ngx-toastr/toastr.css";

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
